div.tooltip {   
  position: relative;           
  display: inline-block;  
  font: 12px sans-serif;        
  
  /*border: 30px;      */
  /*border-radius: relative;           
  pointer-events: none;  */       
}