<h2>Team</h2>
<div class="container">
  <div class="row" align="middle">
    <div class="col-xs-6">
      <img src="../pics/kevinT.jpg" alt="" class="img-circle" width="200" height="200"/><br/>
      <span><strong>Kevin Tow</strong></span><br/>
      <span>Software Engineer</span><br/>
      <a href="https://github.com/fogcity89" target="_blank"><img src="../pics/Trendy.png" style="width: 14%; height: 14%";></a>
      <a href="https://www.linkedin.com/in/kevinmtow" target="_blank"><img src="../pics/Linkedin.ico" style="width: 12%; height: 12%";></a>
    </div>
    <div class="col-xs-6">
      <img src="../pics/team_chee_bw.jpg" alt="" class="img-circle" width="200" height="200"/><br/>
      <span><strong>Cheewoon Kim</strong></span><br/>
      <span>Software Engineer</span><br/>
      <a href="https://github.com/ckim16" target="_blank"><img src="../pics/Trendy.png" style="width: 14%; height: 14%";></a>
      <a href="https://www.linkedin.com/in/cheewoonkim" target="_blank"><img src="../pics/Linkedin.ico" style="width: 12%; height: 12%";></a>
    </div>
  </div>
</div>
<p></p>
<h2>We used</h2>
<p></p>
<div class="container">
  <div class="row" align="middle">
    <div class="col-xs-4">
      <img src="../pics/d3.png" alt="" class="img-responsive" width="90" height="90"/>
    </div>
    <div class="col-xs-4">
      <img src="../pics/bootstrap.png" alt="" class="img-responsive" width="90" height="90"/>
    </div>
    <div class="col-xs-4">
      <img src="../pics/download.jpeg" alt="" class="img-responsive" width="110" height="110"/><br/>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" align="middle">
    <div class="col-xs-6">
      <img src="../pics/expressjs.jpg" alt="" class="img-responsive" width="150" height="150"/>
    </div>
    <div class="col-xs-6">
      <img src="../pics/mapbox7.png" alt="" class="img-responsive" width="150" height="150"/>
    </div>
  </div>
</div>